/* Exo, Roboto Condensed, Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  --rnd-main-bg-color: #f3f3f4;
  --rnd-section-bg-color: #fff;
  --rnd-second-bg-color: #f7f8fb;
  --rnd-main-text-color: #7f7fa0;
  --rnd-lighter-text-color: #7f7fa099;
  --rnd-second-text-color: #666;
  --rnd-light-text-color: #959595;
  --rnd-title-text-color: #2f2e4d;
  --rnd-link-text-color: var(--rnd-color-mint);
  --rnd-link-hover-text-color: var(--rnd-color-mint-light);
  --rnd-color-mint: #00b394;
  --rnd-color-mint-light: #1fd8d3;
  --rnd-color-yellow: #fcd702;
  --rnd-color-blue: #1c84c5;
  --rnd-color-light-blue: #1c84c555;
  --rnd-color-lighter-blue: #1c84c533;
  --rnd-main-font: 'Roboto Condensed', Tahoma, Geneva, Verdana, sans-serif;
  --rnd-main-gradient: linear-gradient(135deg, rgba(0,179,148,1) 0%, rgba(28,132,197,1) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
}
