@import url('../root.css');

.rnd__body {
  width: 250px;
  padding: 20px;
  font-family: 'Exo';
  font-size: 14px;
  color: var(--rnd-light-text-color);
}

.rnd-popup__header {
  margin: auto;
  width: 100px;
  height: 100px;
  background: url('../images/roundist-128.png') no-repeat;
  background-size: contain;
}

.rnd-popup__main {
  margin-top: 20px;
}

.rnd-popup__p {
  text-align: center;
}

.rnd-popup__links-list {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.rnd-popup__links-link {
  color: var(--rnd-color-blue);
  font-size: 16px;
  font-weight: 600;
}

.rnd-popup__links-link:hover, .rnd-popup__links-link:focus {
  color: var(--rnd-color-mint);
}

.rnd-popup__settings {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.rnd-popup__button {
  padding: 10px;
  outline: none;
  border: 1px solid var(--rnd-color-blue);
  border-radius: 5px;
  font-size: 14px;
  background: none;
  cursor: pointer;
}

.rnd-popup__button:hover, .rnd-popup__button:focus {
  border-color: var(--rnd-color-mint);
}